/*h1{
    color: teal;
    font-family: Georgia;
    border: 2px solid brown;
    
}
#saudacao{
    color: darkgoldenrod;
    text-align: center;
}

body{
    background-color:antiquewhite;
}
h3{
    color: slateblue;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}

#sobre {
    background-color: lightgray;
    padding: 10px;
    border: 2px solid black;
}
td, th {
    border: 1px solid darkblue;
    padding: 3px;
    text-align: center;
}

th {
    background-color: cadetblue;
    color: white;
}

table {
    border: 1px thin;
}*/
/*#ocult{
    visibility: hidden;
}*/
/*body ul a{
    text-decoration: none;
    color: darkgoldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

body img, body p{
    float: left;
}*/

.tamanholetra{
    font-size: 14px !important;
}

#padfig{
    padding-bottom: 80px;
}

.lead1 {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
}
.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#h2.tamanho{
    font-size:20px;
}
#p.tamanho {
    font-size: 40px;
}

.thead {
    background-color: #1abc9c;
}

#ocultar{
    visibility: hidden;
}

.table {
    text-align: center !important;
}

#imagemflutua {
    position: relative;
}

#imagemflutua:hover {
        top: -5px;
        box-shadow: 0 8px 8px #105f4f;
        opacity: 0.7;
        
}
#h2size{
    font-size: 2.8rem;
}

.fa-carrot, .fa-futbol, .fa-tv, .fa-wikipedia-w, .fa-bus, .fa-church {
    font-size: 72px;
}
.fa-carrot {
    color: #e27c3e;
}
.fa-futbol {
    color: #45b39c;
}
.fa-tv {
    color: #1037b5;
}
.fa-wikipedia-w {
    color: #1fa4b6;
}
.fa-bus {
    color: #e4c74e;
}
.fa-church {
    color: #ba4c63;
}


#alinhamento {
    text-align: end !important;
    align-content: end !important;
    align-items: end !important;
}

.bg-primary {
    background-image: url(../img/background.jpg);
    /*background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;*/
}