h1{
    color: teal;
    font-family: Georgia;
    border: 2px solid brown;
    
}
#saudacao{
    color: darkgoldenrod;
}

body{
    background-color:antiquewhite;
}
h3{
    color: slateblue;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}