/*h1{
    color: teal;
    font-family: Georgia;
    border: 2px solid brown;
    
}
#saudacao{
    color: darkgoldenrod;
    text-align: center;
}

body{
    background-color:antiquewhite;
}
h3{
    color: slateblue;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}

#sobre {
    background-color: lightgray;
    padding: 10px;
    border: 2px solid black;
}
td, th {
    border: 1px solid darkblue;
    padding: 3px;
    text-align: center;
}

th {
    background-color: cadetblue;
    color: white;
}

table {
    border: 1px thin;
}
#ocult{
    visibility: hidden;
}
body ul a{
    text-decoration: none;
    color: darkgoldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

body img, body p{
    float: left;
}*/

.tamanholetra{
    font-size: 14px !important;
}

#padfig{
    padding-bottom: 80px;
}

.lead1 {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
}
.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

